<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section class="home-section">
            <!--=========================== INICIA HOME - CONTENT ===========================-->
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="home-content">
                <div class="overview-boxes" >
                    <!-- Init Box Item -->
                    <div class="box">
                        <div class="left-side">
                            <div class="box-topic">
                                <a th:href="@{/}">Muro</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Box Item -->
                    <!-- Init Box Item -->
                    <div class="box">
                        <div class="left-side">
                            <div class="box-topic">
                                 <a th:href="@{/}">Clases</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Box Item -->
                    <!-- Init Box Item -->
                    <div class="box">
                        <div class="left-side">
                            <div class="box-topic">
                                <a th:href="@{/}">Alumnos</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Box Item -->
                    <!-- Init Box Item -->
                    <div class="box">
                        <div class="left-side">
                            <div class="box-topic">
                                <a th:href="@{/}">Calificaciones</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Box Item -->
                </div>
            </div>
            <!--=========================== FIN HOME - CONTENT ===========================-->
                    <!--=========================== INICIO SALE - CONTENT ===========================-->
            <div class="sales-boxes">
                <!-- Init Box Item Left side -->
                <div class="recent-sales box">
                    <div class="title">Ultimas notas de Matematica</div>
                    <div class="sales-details">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Curso</th>
                                <th>Tema</th>
                                <th>Tema</th>
                            </tr>

                            <tr th:each="clase : ${clase}">
                                <div  th:if="${clase.getProfesor().getIdProfesor().equals(profesor.idProfesor)}">
                                <td th:text="${clase.idClase}">Mostrar Numero</td>
                                <td th:text="${clase.material.materia.nombre}">Mostrar Hora</td>
                                <td th:text="${clase.material.titulo}">Mostrar Estado</td>
                                <td th:text="${clase.profesor.correo}">Mostrar Estado</td>
                                </div>
                            </tr>
                        </table>

                    </div>
                </div>
                
                <!-- End Box Item -->
            
            </div>
            <!--=========================== FIN SALE - CONTENT ===========================-->
            
        </section>


        <script src="./js/main.js"></script>
    </body>
</html>
