<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xlmns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section class="home-section">
            <!--=========================== INICIA HOME - CONTENT ===========================-->
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="home-content">
                <div class="overview-boxes" >

                    <!-- Init Box Item -->
                    
                   <div th:each="aulaVirtual : ${aulaVirtual}">
                        <div  th:if="${aulaVirtual.getClase().getProfesor().getCorreo().equals(up1)}">
                                <div class="box">
                                    <div class="left-side">
                                        <div class="box-topic">
                                          <a th:text="${aulaVirtual.clase.material.materia.nombre}"></a><br>
                                          <a th:text="${aulaVirtual.clase.profesor.nombre} + ' ' +${aulaVirtual.clase.profesor.apellido}"></a><br>
                                          <a th:href="@{/detalleaulaVirtual/}+${aulaVirtual.clase.idClase}">Muro</a><br>
                                          <a th:href="@{/detalleAsistencia/}+${aulaVirtual.asistencia.idAsistencia}">Asistencia</a><br>
                                          <a th:href="@{/detalleCalificaciones/}+${aulaVirtual.calificaciones.idCalificaciones}">Calificaciones</a>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                    <!-- End Box Item -->
                </div>
            </div>
            <!--=========================== FIN HOME - CONTENT ===========================-->
                    <!--=========================== INICIO SALE - CONTENT ===========================-->
            <div class="sales-boxes">
                <!-- Init Box Item Left side -->
                <div class="recent-sales box">
                    <div class="title">Ultimas notas de Matematica</div>
                    <div class="sales-details">
                        <table>
                            <tr>
                                <th>#</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Nota</th>
                                <th>Estado</th>

                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Gonzales</td>
                                <td>Juan</td>
                                <td>17</td>
                                <td><i class='bx bx-trending-up'></i></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Perez</td>
                                <td>Alonso</td>
                                <td>13</td>
                                <td><i class='bx bx-trending-down'></i></td>
                            </tr>
                        </table>

                    </div>
                    <div class="button">
                        <a th:href="@{/pedido}">Ver detalles</a>
                    </div>
                </div>
                
                <!-- End Box Item -->
            
                
                
            </div>
            <!--=========================== FIN SALE - CONTENT ===========================-->
            
        </section>


        <script src="./js/main.js"></script>
    </body>
</html>
