<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <tag th:replace="layout/plantilla :: head"></tag>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <section class="home-section">
            <!--=========================== INICIA HOME - CONTENT ===========================-->
            <nav th:replace="layout/plantilla :: nav"></nav>
            <div class="home-content">
                <div class="overview-boxes" >
                    <div class="box" th:each="curso : ${curso}">
                        <div class="left-side">
                            <div class="box-topic">
                                <a th:text="${curso.grado.descripcion}"></a>
                                <a th:text="${curso.nombre}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--=========================== FIN HOME - CONTENT ===========================-->
                    <!--=========================== INICIO SALE - CONTENT ===========================-->
            <div class="sales-boxes">
                <!-- Init Box Item Left side -->
                <div class="recent-sales box">
                    <div class="title">Ultimas notas de Matematica</div>
                    <div class="sales-details">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Curso</th>
                                <th>Grado</th>
                                <th>Ver</th>
                            </tr>

                            <tr th:each="curso : ${curso}">
                                <td th:text="${curso.idCurso}">Mostrar Numero</td>
                                <td th:text="${curso.nombre}">Mostrar Hora</td>
                                <td th:text="${curso.grado.descripcion}">Mostrar Estado</td>
                                <td th:text="${curso.grado.descripcion}">Mostrar Estado</td>
                                
                            </tr>
                        </table>

                    </div>
                </div>
                
                <!-- End Box Item -->
            
            </div>
            <!--=========================== FIN SALE - CONTENT ===========================-->
            
        </section>


        <script src="./js/main.js"></script>
    </body>
</html>
